@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
}

a{
    text-decoration: none;
    color: aliceblue;
}

a:hover {
    background-color: rgb(163, 171, 187);
  }
  button:hover {
    background-color: rgb(163, 171, 187);
  }
header{
    background: linear-gradient(180deg, #908c86 0%, rgba(74, 80, 125, 0) 100%);
    height: 100px;
    position: relative;
}

header img{
    height: 100px;
    width: 100px;
}

.Nav-bar{
    list-style: none; 
    position: absolute;
    display: inline;
    margin-top: 40px;
}

header li {
    display: inline;
    margin: 1.5em;
}
.searchButton{
    border-radius: 20px;
    border: none;
}
.searchInput{
      margin-left: 300px;
    border-radius: 20px;
    border: none;
    width: 100px;
    
}
#Top-background{
    background: url(../Library-background.png);
}
h2{
    text-decoration: underline;
    text-decoration-color: rgb(153, 115, 115);
}

.sign-in{
    background-color: beige;
    opacity: 90%;
    display: inline-block;
    border-radius: 10%;
   margin-top: 5em;
   margin-left: 60em;
}
.intro{
    width: 600px;
}

form div{
    margin: 3em 3em 3em 3em;
}

.middle-photos{
    margin-top: 8em;
    height: 300px;
    margin-left: 5em;
    opacity: 90%;
    border-radius: 15%;
}
article{
    display: inline-block;
    background-color: beige;
    padding: 3em 3em 3em 3em;
    margin-top: 6em;
    margin-left: 3em;
    border-radius: 3%;
    opacity: 90%;
    position: absolute;
}
.secondBackground{
    background: url(https://images.unsplash.com/photo-1507842217343-583bb7270b66?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1890&q=80);
    position: relative;
    padding-top: 10em;
    margin-bottom: 0px;
}
.addNewBook{
    background-color: beige;
    padding:  3em 3em 3em 3em;
    opacity: 90%;
    width: 645.74px;
}

.Books-table{
    background-color: beige;
    padding:  3em 3em 3em 3em;
    opacity: 90%;
    width: 645.74px;
}



.table-caption {

    font-size: large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: inline;
    margin-left: 160%;
}
.formANDaddNewBook{
margin-left: 750px;
margin-bottom: 0;

}
.bestSoldBooks{
    margin-top: 0;
    margin-bottom: 0;
    background: linear-gradient(180deg, #908c86 0%, rgba(74, 80, 125, 0) 100%);
}
.bestSoldBooksP{
    margin-top: 0;
}























footer{
    background-color: rgb(92, 122, 162) ;
}





